<div>
	<div class="addDialog">
		<div id="error" style="display: none;text-align: center;color: #F00;margin-bottom: 2px">
			Url and Tags are needed to add entry
		</div>
		<div id="urlFieldHolder">
			<input type="text" name="url" id="urlField" class="urlField clearableInputField" value="paste or type url here" />
		</div>
		<div>
			<ul id="tagsField" name="tags"></ul>
  		</div>
  		<div class="clear"></div>
		<div class="submitButtonHolder">
			<a href="javascript:void(0)" class="submitButton">add as anonymous</a>
		</div>
		<div class="changeButtonHolder">
			<a href="javascript:void(0)" class="changeSubmitOwner">change</a>
		</div>
	    <script>
	     // <![CDATA[
	        this.url = null;
	        this.timeoutID = null;
	    	var _self = this;
	    	
	    	this.clearErrorTip = function(){
	    		$("#error", _self).hide();
	    	};
	    	
	    	this.showErrorTip = function(text) {
	    		if(typeof text !== "undefined")
	    			$("#error", _self).text(text);
	    		$("#error", _self).show();
	    	};
	    	
	    	this.registerSuggestTagsTimeout = function() {
	    		if(this.timeoutID != null)
	    			clearTimeout(this.timeoutID);
	    		this.timeoutID = setTimeout(function(){
		    			_self.suggestTags();
		    		}, 500);
	    	}
	    	
	        this.suggestTags = function() {
	        	_self.clearErrorTip();
	        	
	        	var term = $(".urlField",_self).val();
	        	if(term != _self.url) {
	        		_self.url = term; 
	        		$("#urlFieldHolder", _self).loading(true, { img:'img/suggestTagsLoader.gif', align:'center' });
		    		$.getJSON(app.endpoint+"suggest/tags.jsonp?url="+term+"&callback=?", 
		    					function(response) {
		    						if(response.length>0)
	    	        					$("#tagsField", _self)[0].setValue(response.join(" "));
		    						else
		    							$("#tagsField", _self)[0].clear();
	    	        				$("#urlFieldHolder", _self).loading(false);
		    	    		});
	        	}
	        }

	        $(".clearableInputField", this).click(function(){
	        	$(this).val("");
	        });
	     
			$(".urlField",this).change(function(){
				_self.suggestTags();
	    	});
			
			$(".urlField",this).keyup(function(){
				_self.registerSuggestTagsTimeout();
			})
	    	 	    
		 	// autocomplete functionality
			$("#tagsField",this).tagit({
				source: app.endpoint+"suggest/tag.jsonp",
				jsonp: true,
				param: 'q'
			});
			
			$(".submitButton", this).click(function(){
				var tags = $("#tagsField")[0].getValue();
				
				if(tags.length == 0 || _self.url.length == 0) {
					_self.showErrorTip();
					return;
				}
				
				var saveurl = app.endpoint+"entry.jsonp?url="+_self.url+"&tags="+tags;
				if(app.hasUser())
					saveurl += "&owner="+app.ownerUID;
				saveurl += "&callback=?";
				
				$(".addDialog", _self).loading(true, { img:'img/suggestTagsLoader.gif', align:'center' });
				$.getJSON(saveurl, function(response){
					$(".addDialog", _self).loading(false);
					if(response.indexOf("OK") != -1)
						SexyLightbox.close();
					else
						_self.showErrorTip(response);
				});
			});
			
			if(app.hasUser())
				$(".submitButton", this).text("add as "+app.getProvider());
			
			$(".changeSubmitOwner",this).click(function(){
				SexyLightbox.close();
				app.requestUserLogin();
			})
			
			SexyLightbox.on("close", function(){
				_self.showErrorTip();
			});
			
		// ]]>
	    </script>
	</div>
</div>