<div>
	<div class="addDialog">
		<form id="addForm" method="post">
			<fieldset>
				<div>
					<label for="url">Url:</label>
					<input type="text" name="url"/>
				</div>
				<div>
					<label for="tags">Tags:</label>
					<ul id="tagsField" name="tags"></ul>
	   			</div>
	   			<div>
					<label for="name">Name:</label>
					<input type="text" name="name"/>
				</div>
				<div>
					<input type="submit" />
				</div>
	        </fieldset>
	    </form>
	    <script>
		 	// autocomplete functionality
			$("#tagsField",this).tagit({
				source: "http://api-techbrowser.appspot.com/suggest/tag.jsonp",
				jsonp: true,
				param: 'q'
			});
			$("#tagsField",this).bind("onchanged",function(){
				$("#addForm",this).trigger("submit");
			});
	    </script>
	</div>
</div>