 <div class="inputboxFrame">
 	<link rel="stylesheet" href="./css/inputbox.css" type="text/css" />
 	
	<a href="#" id="link" class="link"></a>
	<a href="javascript:void(0)" class="cancel" id="cancel">cancel</a>
	<div style="clear:both" />
	
 	<script type="component" source="userInput.html" id="userInput" class="userInput"/>
 	
 	<script type="component" source="button.html" image-type="add" alt="add" id="addButton" class="addButton" />
 	
 	<div style="clear:both" />
 	<div class="error" id="error"></div> 
 	
 	<script>
 	// <![CDATA[
 		this.controller = new require("/app/controllers/InputBox.js")(this);
	// ]]>	
 	</script>
 </div>