<div class="resultItem">
	<div class="resultItemBox view">
		<img src="" width="16" height="16" id="favicon" class="favicon"/>
		<div class="link"><a href="" target="_blank" id="link"></a></div>
		<div class="resultItemMenu"><a href="javascript: void(0);" class="editButton">Edit</a></div>
		<div style="clear:both" />
		<p class="content"></p>
		<p class="source"></p>
	</div>
	<div class="resultItemBox edit">
		<img src="" width="16" height="16" id="favicon" class="favicon"/>
		<div class="linkEditMode"><a href="" target="_blank" id="link"></a></div>
		<div class="resultItemMenu">
				<a href="javascript: void(0);" class="deleteButton">Delete</a>
				<a href="javascript: void(0);" class="saveButton">Save</a>
				<a href="javascript: void(0);" class="cancelButton">Cancel</a>
			</div>
		<div style="clear:both" />
		<script type="component" source="inputBox.html" class="tagsInputBox" />
		<p class="source"></p>
	</div>
	
	<script>
	//<![CDATA[
		this.controller = new require("/controllers/ResultItemController.js")(this);
	//]]>
	</script>
</div>