.inputboxFrame
{
}

.addLink {
}

.addButton 
{
	float: right;
	margin-top: -10px;
}

.userInput {
	float: left;
	width: 420px;
}

.link {
	margin: 10px;
	float: left;
	max-width: 350px;
	overflow: hidden;
}

.cancel {
	margin: 10px;
	float: left;
}

.error {
	color: #a00;
}