.inputboxFrame .inputboxFrame
{
}

.inputboxFrame .addLink {
}

.inputboxFrame .addButton 
{
	float: right;
	margin-top: -10px;
}

.inputboxFrame .userInput {
	float: left;
	width: 420px;
}

.inputboxFrame .link {
	margin: 10px;
	float: left;
	max-width: 350px;
	overflow: hidden;
}

.inputboxFrame .cancel {
	margin: 10px;
	float: left;
}

.inputboxFrame .error {
	color: #a00;
}