.resultItem { 
	text-shadow:1px 1px 0 #586a75;
	margin-bottom: 8px;
}

.resultItem .resultItemBox{ 
	background-color:#5D6F7B;
	font-size:18px;
	font-weight:normal;
	padding:8px 8px;
	
	/* Applying CSS3 rounded corners */
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}
.resultItem b{ color:#fff; }
.resultItem a{ color:#eee;border:none;}
.resultItem p{ line-height:1.5; padding:8px 8px;}
.resultItem p b{ color:black;}
.resultItem > a{ margin-left:20px;}

.resultItem .favicon {
	float: left;
	padding: 8px 8px;
}

.resultItem .link {
	float: left;
	max-width: 700px;
	padding: 8px 8px;
	overflow: hidden;
}

.resultItem .linkEditMode {
	float: left;
	max-width: 500px;
	padding: 8px 8px;
	overflow: hidden;
}

.resultItemOffset {
	margin-left: -150px;
}

.resultsList
{
	width: 800px;
}

.moreBox {
	text-align: center;
}

.source {
	font-size:12px;
	color: #aaa;
}

.resultItem .resultItemMenu {
	float: right;
}
